@use 'base/mixins' as m;
@use 'base/variables' as v;

.confirmar {
    margin-top: 5rem;
    .uptask {
        @include m.textoDegradado(v.$morado);
    }
    .acciones {
        justify-content: center;
        a {
            color: v.$morado;
        }
    }
}