@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$indigo;
    padding: 2rem;

    h2 {
        color: v.$blanco;
        margin: 0;
        text-align: center;
    }

    .sidebar-nav {
        position: fixed;
        top: 4.75rem;
        height: calc(100% - 4.75rem);
        background: v.$indigo;
        padding: 3rem;
        left: -23rem;
        transition: left .35s linear;
        margin-top: 5rem;

        a {
            color: v.$blanco;
            display: block;
            margin-bottom: 1.5rem;
            padding: .7rem;
            transition: .3s ease-in background-color;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.5rem;

            &:hover,
            &.activo {
                background-color: darken($color: v.$indigo, $amount: 20%);
                border-radius: .5rem;
            }
        }
    }

    .sidebar-hamburguesa {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 3.6rem;
        height: 2.3rem;
        border: 0;
        background: transparent;
        gap: .65rem;
        cursor: pointer;
        transition: all .3s;

        div {
            background-color: v.$blanco;
            height: 2px;
            width: 100%;
            border-radius: .5rem;
            transition: all .3s;
            transform-origin: 0px 100%;
        }

        .activeline1-haburguesa {
            transform: rotate(45deg);
            translate: (-2px, 1px);
        }

        .activeline2-haburguesa {
            opacity: 0;
            margin-left: -30px;
        }

        .activeline3-haburguesa {
            transform: rotate(-45deg);
            translate: (-4px, 3px);
        }
    }


    @include m.tablet {
        .sidebar-hamburguesa {
            display: none;
        }

        .sidebar-nav {
            display: block;
            position: inherit;
            padding: 0;
        }
    }
}


@include m.tablet {
    .sidebar {
        display: block;
    }
}